.container-auth-layout {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container-form{
    display: flex;
    border-radius: 10px;
    border: solid;
    border-color: var(--border);
    border-width: 2px;
    margin: 0 auto;
    background-color: var(--background);
}

.icon-login {
    font-size: 40px;
}

.img-login {
    max-width: 600px;
    height: auto;
    margin: auto auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 30px;
}

.p-login-sing-in-to-fasco {
    font-size: 20px;
    color: var(--text-secondary);
}

@media screen and (max-width: 769px) {
    .img-login {
        display: none;
    }

    .container-form {
        border: none;
    }
}