.layout-container {
    display: grid;
    grid-template-rows: auto 1fr auto ;

    grid-template-columns: 1fr;

    grid-template-areas: 
    "header"
    "main"
    "footer";

    min-height: 100vh;

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--background);
}


header { grid-area: header; }
.main-content { grid-area: main; }
footer { grid-area: footer; }


