.countdown {
    display: flex;
    gap: 25px;
 
}
.card-of-counDown {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.texto-count {
    font-family: "digital-number";
    font-size: 18px;
    margin: 5px 0;
}

.card-counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

