.deals-slider-container {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.swiper-wrapper {
    width: 600px;
}

.mySwiper {
    width: 100%;
}

.deal-slide {
    width: auto !important;
    justify-content: center;
    align-items: center;

    transition: transform 0.4s ease, opacity 0.4s ease;

    transform: scale(0.8);
    opacity: 0.4;
}

.deal-slide .img-deals {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    
    transform: scale(0.8); 
    opacity: 0.5;
}

.deal-slide.swiper-slide-active .img-deals {
    transform: scale(1.1);
    border-radius: 15px;
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.swiper-slide-active {
    transform: scale(1.15);
    border-radius: 15px;
    opacity: 1;
    z-index: 2;
}

.img-deals {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}

