
.section-api-google {
    display: flex;
    gap: 10px;
}

.img-login {
    max-width: 600px;
    height: auto;
    margin: auto auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 30px;
}

.logos-login-google {
    width: 20px;
}

.button-login-api-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button-login{
    font-size: 10px;
    margin: 0;
    line-height: 13px;
}

.text-or {
    margin: 50px auto;
    color: var(--text-primary);
    font-weight: 500;
}

.input-login-form {
    border: none;
    padding: 5px;
    border-bottom: 2px solid var(--gray-input);
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-login-form::placeholder {
    color: var(--text-primary);
    opacity: 0.6;
}

.input-login-form:hover {
    border-bottom: 2px solid var(--accent-color);
}

.input-login-form:focus {
    border-bottom: 2px solid var(--accent-color);
    outline: none;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-login-sign-in {
    margin: 0;
}

.link-to-register-now {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 10px;
    border-radius: 10px;
}

.link-forget-password {
    display: flex;
    justify-content: end;
    color: var(--accent-color);
    font-size: 13px;
}

.error {
    color: var(--error-color);
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
}