.container-register {
    display: flex;
    flex-direction: column;
}

.logos-login-google {
    width: 20px;
}

.button-login-api-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button-login{
    font-size: 10px;
    margin: 0;
    line-height: 13px;
}

.text-or {
    margin: 50px auto;
    color: var(--text-primary);
    font-weight: 500;
}

.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    gap: 20px;
    flex-wrap: wrap;
}

.input-login-form {
    border: none;
    padding: 5px;
    border-bottom: 2px solid var(--gray-input);
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-login-form::placeholder {
    color: var(--text-primary);
    opacity: 0.6;
}

.input-login-form:hover {
    border-bottom: 2px solid var(--accent-color);
}

.input-login-form:focus {
    border-bottom: 2px solid var(--accent-color);
    outline: none;
}

.button-register {
    width: 80%;
    margin: 0 auto;
}   

.link-register-to-login {
    color: var(--accent-color);
}

.link-register-to-login:hover {
    text-decoration: underline;
}